<div style="text-align:center">
    <h1>
        Pseudorandom Number Generator
    </h1>

    <button mat-flat-button color="accent" (click)="refresNumbers()">Do Klicke</button>
    <br />
    <br />
    <div style="text-align:center">Zahl 1: {{ number1 }}</div>
    <div style="text-align:center">Zahl 2: {{ number2 }}</div>
    <div style="text-align:center">Zahl 3: {{ number3 }}</div>
    <div style="text-align:center">Zahl 4: {{ number4 }}</div>
    <div style="text-align:center">Zahl 5: {{ number5 }}</div>
    <div style="text-align:center">Zahl 6: {{ number6 }}</div>

    <div style="text-align:center">Zusatz: {{ additionalNumber }}</div>
</div>