<div style="text-align:center">
    <h1>
        Pseudorandom Number Generator
    </h1>

    <div style="text-align:center">Zahle 1: {{ generateNumberBetweenOneAnd(42) }}</div>
    <div style="text-align:center">Zahle 2: {{ generateNumberBetweenOneAnd(42) }}</div>
    <div style="text-align:center">Zahle 3: {{ generateNumberBetweenOneAnd(42) }}</div>
    <div style="text-align:center">Zahle 4: {{ generateNumberBetweenOneAnd(42) }}</div>
    <div style="text-align:center">Zahle 5: {{ generateNumberBetweenOneAnd(42) }}</div>
    <div style="text-align:center">Zahle 6: {{ generateNumberBetweenOneAnd(42) }}</div>

    <div style="text-align:center">Zusatz: {{ generateNumberBetweenOneAnd(6) }}</div>
</div>