<div style="text-align:center">
    <h1>
        Pseudorandom Number Generator
    </h1>

    <button mat-flat-button color="accent" (click)="refresNumbers()">Do Klicke</button>
    <br />
    <br />
    <h2>Swiss Lotto</h2>
    <div style="text-align:center">Zahl 1: {{ number1 }}</div>
    <div style="text-align:center">Zahl 2: {{ number2 }}</div>
    <div style="text-align:center">Zahl 3: {{ number3 }}</div>
    <div style="text-align:center">Zahl 4: {{ number4 }}</div>
    <div style="text-align:center">Zahl 5: {{ number5 }}</div>
    <div style="text-align:center">Zahl 6: {{ number6 }}</div>

    <div style="text-align:center">Zusatz: {{ additionalNumber }}</div>

    <h2>Euro Milions</h2>
    <div style="text-align:center">Zahl 1: {{ euroNumber1 }}</div>
    <div style="text-align:center">Zahl 2: {{ euroNumber2 }}</div>
    <div style="text-align:center">Zahl 3: {{ euroNumber3 }}</div>
    <div style="text-align:center">Zahl 4: {{ euroNumber4 }}</div>
    <div style="text-align:center">Zahl 5: {{ euroNumber5 }}</div>

    <div style="text-align:center">Zusatz: {{ additionalEuroNumber1 }}</div>
    <div style="text-align:center">Zusatz: {{ additionalEuroNumber2 }}</div>
</div>